#!/bin/bash
IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)
ID=$(curl http://169.254.169.254/latest/meta-data/instance-id)
IP_NAT=$(curl icanhazip.com/ipv4)
AZ=$(curl http://169.254.169.254/latest/meta-data/placement/availability-zone)
WEBSERVER=${webserver}

sudo apt-get update
sudo apt-get install -y $WEBSERVER

cat <<EOF > /var/www/html/index.html
<p>I'm running in a <strong> $WEBSERVER </strong> server</p>
<p>Instance ID:  <strong>$ID</strong></p>
<p>In the AZ:  <strong>$AZ</strong></p>
<p>Private IP:  <strong>$IP</strong></p>
<p>Public IP: <strong>$IP_NAT</strong></p>
EOF